@model IEnumerable<AbstractGymMVC5.Models.Appointment>

@{
    ViewBag.Title = "Your Appointments";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <!--<th>
            @Html.DisplayNameFor(model => model.AppointmentPerson.FirstName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentReason)
        </th>

        -->

        <th>Appointment With</th>
        <th>Room Number</th>
        <th>Appointment Date</th>
        <th>Appointment Reason</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AppointmentPerson.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.Room.RoomName)</td>
            <td>@Html.DisplayFor(modelItem => item.AppointmentDate)</td>
            <td>@Html.DisplayFor(modelItem => item.AppointmentReason)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }
    <!--
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentPerson.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentReason)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentID }) |
                @Html.ActionLink("Details", "Details", new { id=item.AppointmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentID })
            </td>
        </tr>
    }
        -->

</table>
